services:
  super_agent_core:
    build:
      context: .
      dockerfile: Dockerfile.super_agent_core
    container_name: super_agent_core
    ports:
      - "5001:5000"
    networks:
      - superagentnet
  super_agent_dashboard:
    build:
      context: .
      dockerfile: Dockerfile.super_agent_dashboard
    container_name: super_agent_dashboard
    ports:
      - "5000:5000"
    networks:
      - superagentnet
networks:
  superagentnet:
    driver: bridge
  
uno_agent:
  build:
    context: ..
    dockerfile: Dockerfile
  container_name: uno_agent
  ports:
    - "8000:8000"
  environment:
    - AGENT_ROLE=main
  networks:
    - superagentnet
  restart: always
uno_agent_avversario:
  build:
    context: ..
    dockerfile: Dockerfile
  container_name: uno_agent_avversario
  ports:
    - "8001:8000"
  environment:
    - AGENT_ROLE=adversary
  networks:
    - superagentnet
  restart: always
