services:
  brain:
    build: ./brain
    container_name: brain
    ports:
      - "8000:8000"
    devices:
      - /dev/video0:/dev/video0       # webcam
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix # controllo schermo
    environment:
      - DISPLAY=${DISPLAY}
    restart: always

  teamA:
    build: ./teamA
    container_name: teamA
    ports:
      - "8100:8100"
    restart: always

  teamB:
    build: ./teamB
    container_name: teamB
    restart: always

  teamC:
    build: ./teamC
    container_name: teamC
    restart: always

  ms1: { build: ./ms1, container_name: ms1 }
  ms2: { build: ./ms2, container_name: ms2 }
  ms3: { build: ./ms3, container_name: ms3 }
  ms4: { build: ./ms4, container_name: ms4 }
  ms5: { build: ./ms5, container_name: ms5 }
  ms6: { build: ./ms6, container_name: ms6 }
  ms7: { build: ./ms7, container_name: ms7 }
  ms8: { build: ./ms8, container_name: ms8 }
  research:
    build: ./research
    container_name: research
    restart: always
  research_memory:
    build: ./research_memory
    container_name: research_memory
    restart: always
    volumes:
      - research_memory_data:/app/memory

volumes:
  research_memory_data:
